# Backend environment variables
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
REDIS_URL="redis://default:ya6pISMycFz4pyfHX9NCFBecD7SCtNYA@consonant-carved-profit-84866.db.redis.io:10685"
ec_live_db_REDIS_URL="redis://default:ya6pISMycFz4pyfHX9NCFBecD7SCtNYA@consonant-carved-profit-84866.db.redis.io:10685"